<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.order">

	<select id="seatlist" resultType="com.gga.vo.SeatVo">
		select sid, snumber, status from gga_seat
	</select>
	
	
<!-- 	<update id="resetSeats" parameterType="java.lang.String[]">
    <foreach collection="array" item="seatList" separator=",">
    UPDATE gga_seat
    SET status = 'seat'
    WHERE snumber = #{seatList}
  	</foreach>
	</update>
	
	<update id="updateSeats" parameterType="java.lang.String[]">
    <foreach collection="array" item="seatList" separator=",">
    UPDATE gga_seat
    SET status = 'seat occupied'
    WHERE snumber = #{seatList}
  	</foreach>
	</update> -->
	
	<delete id="deleteorder" parameterType="java.lang.String">
	delete from gga_ordercon  
				where oconid = #{oconid, jdbcType=VARCHAR}
	</delete>
	
	<select id="orderconlist" parameterType="java.lang.String" resultType="com.gga.vo.OrderconVo">
	select oconid, movieid, movieordertitle, price,seat, otime, odate,
				oname, ocarnum,  oemail, ophone, orderdate, impuid, merchantuid, pgtype, movieorderposter, id
				from GGA_ordercon where oconid = #{oconid, jdbcType=VARCHAR}
	</select>
	<select id="orderconlistfrommid" parameterType="java.lang.String" resultType="com.gga.vo.OrderconVo">
	select oconid, movieid, movieordertitle, price,seat, otime, odate,
				oname, ocarnum,  oemail, ophone, orderdate, impuid, merchantuid, pgtype, movieorderposter, id
				from GGA_ordercon where merchantuid = #{merchantuid, jdbcType=VARCHAR}
	</select>
	
	<select id="selectordercon" resultType="com.gga.vo.OrderconVo">
	select oconid, movieid, movieordertitle, price, seat, otime, odate,
				oname, ocarnum,  oemail, ophone, orderdate, impuid, merchantuid, pgtype, movieorderposter, id
				from GGA_ordercon
	</select>
	<select id="selectorderconmypage" parameterType="java.lang.String" resultType="com.gga.vo.OrderconVo">
	select oconid, movieid, movieordertitle, price, seat, otime, odate,
				oname, ocarnum,  oemail, ophone, orderdate, impuid, merchantuid, pgtype, movieorderposter, id
				from GGA_ordercon where id = #{id, jdbcType=VARCHAR}
	</select>
	
	<insert id="insertocon" parameterType="map">
  INSERT INTO GGA_ordercon (oconid, movieid, movieordertitle, price, seat, otime, odate,
    oname, ocarnum, oemail, ophone, orderdate, impuid, merchantuid, pgtype, movieorderposter,id)
  VALUES ('OC_'|| DBMS_RANDOM.STRING('X', 15), #{movieid}, #{movieordertitle}, #{price}, #{seat}, #{otime}, #{odate},
    #{oname}, #{ocarnum}, #{oemail}, #{ophone}, #{orderdate}, #{impuid}, #{merchantuid}, #{pgtype}, #{movieorderposter},#{id})
</insert>
	
	<select id="selectordervo" parameterType="java.lang.String" resultType="com.gga.vo.OrderVo">
	select oid, movieid, price, seat, otime, odate, id, oname, ocarnum, oemail, 
	ophone, orderdate, movieordertitle, movieorderposter from gga_order where oid = #{oid}
	</select>
	
	<insert id="insertpriceseat" parameterType="map">
	update gga_order set price = #{price}, seat= #{seat}
				where oid = #{oid}
	</insert>
	
	<insert id="insertOrder" parameterType="com.gga.vo.OrderVo">
  INSERT INTO gga_order(movieid, otime, odate, oname, ocarnum, oemail, ophone, orderdate, oid, movieordertitle, movieorderposter, id)
  VALUES (#{movieid}, #{otime}, #{odate}, #{oname}, #{ocarnum}, #{oemail}, #{ophone}, sysdate, #{oid}, #{movieordertitle}, #{movieorderposter}, #{id})
	</insert>
	
	
	
</mapper>