<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.product">
	<select id="list" resultType="com.gga.vo.ProductVo">
		select rownum rno, pid, pname, pprice, pfile from
		(select pid, pname, pprice, pfile from gga_product order by pid)
	</select>
	
	<select id="content" parameterType="String" resultType="com.gga.vo.ProductVo">
		select pid, pname, pprice, pfile from gga_product where pid=#{pid}
	</select>
	
	<update id="update" parameterType="com.gga.vo.ProductVo">
		update gga_product set pname=#{pname}, pprice=#{pprice} where pid=#{pid}
	</update>
	
	<insert id="insert" parameterType="com.gga.vo.ProductVo">
		insert into gga_product(pid, pname, pprice, pfile) 
		values('P_'||to_char(sequ_gga_product_pid.nextval, 'fm0000'), #{pname}, #{pprice}, #{pfile})
	</insert>
	
	<delete id="delete" parameterType="String">
		delete from gga_product where pid=#{pid}
	</delete>
</mapper>