<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper
    PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
    
<mapper namespace="mapper.productorder">

	<delete id="delete">
		delete from gga_cart
	</delete>
	
	<insert id="insert" parameterType="list">
	    <foreach collection="list" item="list" open="INSERT ALL" close="SELECT * FROM DUAL" separator=" ">
	        into gga_product_order(poid, pid, cid, podate, pname, pprice, qty, pfile) 
	        values(#{list.poid}, #{list.pid}, #{list.cid}, sysdate, #{list.pname}, #{list.pprice}, #{list.qty}, #{list.pfile})
	    </foreach>
	</insert>
		

	<select id="list" resultType="com.gga.vo.ProductOrderVo">
		select poid, pname, pprice, qty, (pprice*qty) totalprice, pfile, to_char(podate, 'yy-mm-dd') podate 
		from gga_product_order
	</select>
</mapper>